*{
    box-sizing: border-box;
}

body{
    margin: 0;
}
header{
    background-color: bisque;
    text-align: center;
    padding: 25px;
}

.navbar{
    background-color: blueviolet;
    height: 30px;
}

aside{
    width: 20%;
    float: left;
    padding: 10px;
}

section{
    width: 20%;
    float: left;
    padding: 10px;
}

article{
    border: 2px solid;
    width: 40%;
    float: left;
    padding: 10px;
}
footer{
    display: block;
    clear: both;
    background-color: bisque;
    text-align: center;
    padding: 25px;
}